*{
    font-family: Arial, sans-serif;
}
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    width: 650px;
    height: 650px;
    align-items: center;
    justify-content: center;
}
.contenedor{   
    align-items: center;
    justify-content: center;
    position: relative;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: #9c7c8c;
}
img{
    width: 30px;
    height: 30px;
    margin: 20px;
}
p{
    color: #9c7c8c;
    text-align: center;
}
button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    background-color: #9c7c8c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #745c64;
}
.botonNo{
    position: absolute;
    left: 50%;
}
.botonSi{
    position: absolute;
    right: 50%;
}
